/* MEDIA QUERIES */
@media (min-width: 768px) {
    .register__area {
        flex-direction: row;
    }

    .register__area_left {
        min-width: 50%;
    }

    .register__background-img,
    .register__human-img {
        display: block;
        position: absolute;
        height: 100%;
        pointer-events: none;
    }

    .register__background-img {
        right: 0;
        top: 0;
        z-index: 1;
        display: none;
    }

    .register__human-img {
        bottom: 0;
        left: 50%;
        transform: translateX(20%);
        z-index: 2;
        display: none;
    }
}


@media (max-width: 1024px) {
    .content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px 20px;
    }
  
    .content__image {
      width: 90%;
      height: auto;
      margin-left: 0;
      margin-right: 30px;
    }
  
    .content__column {
      padding: 30px 20px;
      max-width: 100%;
    }
  
    .content__column_button {
      min-width: auto;
      width: 80%;
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 600px) {
    .content {
      gap: 40px;
    }
  
    .content__column-list_item {
      font-size: 18px;
      padding: 15px 0;
    }
  
    .content__column_button {
      font-size: 20px;
      padding: 20px;
      width: 40%;
    }

    .footer__icons {
        flex-direction: column;
        gap: 1px;
    }

    .footer__upper-row {
        width: 95%;
    }

    .footer__bottom-row {
        width: 93%;
    }
    
    .register__background-img,
    .register__human-img {
      display: none;
  }
  }

/* BASE STYLES */
.body {
    margin: 0 auto;
    background-color: #222222;
    font-family: Arial, sans-serif;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
    max-width: 100%;
}

/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    top: 0;
    background-color: #222;
}

.header__column {
    flex: 1 1 500px;
    margin: 0 20px;
}

.header__image {
    flex: 1 1 300px;
    max-width: 100%;
    height: auto;
}

.header__button {
    padding: 39.5px 50px;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    width: 100%;  
    max-width: 190px;
    cursor: pointer;
    margin-top: 40px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.header__button:hover {
    background-color: #28a745;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4);
    border: 2px solid #28a745;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 10px 0 160px;
}

.header__nav-title {
    font-size: 2.25rem;
    letter-spacing: 3%;
    line-height: 150%;
    width: auto;
    margin-right: 100px;
    font-family: 'Prata', serif;
}

.header__nav-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.header__nav-list_item {
    text-decoration: none;
    color: white;
}

.header__title-main {
    width: 100%;
    max-width: 480px;
    font-size: 3.125rem;
    line-height: 120%;
    font-weight: normal;
    font-family: 'Prata', serif;
    margin-bottom: 30px;
}

.header__subtitle {
    margin-top: 0;
    font-size: 2.375rem;
}

.header__points {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.header__points_item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

/* CONTENT SECTION */
.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #282829;
    padding: 100px 20px;
    gap: 20px;
    justify-content: center;
}

.content__image {
    width: 100%;
    max-width: 622px;
    height: auto;
    object-fit: cover;
}

.content__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 500px;
    width: 100%;
}

.content__column-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content__column-list_item {
    font-size: 1.25rem;
    line-height: 140%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    padding: 20px 0;
    border-bottom: 0.1px solid #55565a;
    box-sizing: border-box;
}

.content__column_button {
    padding: 32px 50px;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    font-weight: bold;
    border-radius: 4px;
    max-width: 100%;  
    max-width: 500px;
    cursor: pointer;
    margin-top: 100px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.content__column_button:hover {
    background-color: #28a745;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4);
    border: 2px solid #28a745;
}

/* REGISTER */
.register {
    padding: 100px 0;
    background-color: #282829;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__area {
    width: 100%;
    max-width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    overflow: visible;
}

.register__area_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.register__title {
    color: #38535d;
    font-family: 'Prata', serif;
    font-size: 3rem;
    line-height: 110%;
    margin-top: 20px;
    max-width: 50%;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register__input {
    max-width: 50%;
    height: 65px;
    margin-bottom: 13px;
    font-size: 1.2rem;
    border: 2px solid #d6d6d6;
    padding-left: 30px;
}

.register__checkbox-label {
    font-size: 1rem;
    margin: 10px 0 22px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #38535d;
}

.register__checkbox {
    width: 24px;
    height: 24px;
}

.register__submit {
    padding: 22px;
    font-size: 1.2rem;
    background-color: #282829;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    max-width: 50%;
}

.register__submit:hover {
    background-color: #28a745;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4);
    border: 2px solid #28a745;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    background-color: #282829;
}

.footer__nav {
    border-top: 1px solid #d5c9be;
    border-bottom: 1px solid #d5c9be;
}

.footer__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
    gap: 20px;
    font-size: 1.2rem;
    font-style: italic;
}

.footer__nav-list_item {
    text-decoration: none;
    color: white;
}

.footer__bottom {
    margin-top: 64px;
}

.footer__container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__upper-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__title {
    font-size: 2.25rem;
    line-height: 120%;
    font-weight: normal;
    font-family: 'Prata', serif;
    color: white;
    margin: 0;
}

.footer__icons {
    display: flex;
    gap: 10px;
}

.footer__button {
    padding: 30px 50px;
    font-size: 1.2rem;
    border-radius: 4px;
    width: 100%;
    max-width: 190px;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

.footer__button:hover {
    background-color: #28a745;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4);
    border: 2px solid #28a745;
}

.footer__bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer__privacy,
.footer__terms {
    font-size: 1.1rem;
    color: #d5c9be;
    margin: 0;
}

.footer__copyright {
    font-size: 1.1rem;
    color: white;
    margin: 0;
}